<%= @x %>
<br/>
<input type='text' id='teams' value='3'>
<input type='text' id='ppteam' value='3'>
<input type='text' id='questions' value='3'>

<input type='button' class='generateButton' id='generateButton' value="generate!">
<div id="generationPane">
</div>
